# Membuat List

In [12]:
nilai = [90,20,30,40,75]
mahasiswa = ["Agus", "Budi", "Cici"]
mahasiswa2 = ["Zaki", "Yuli"]
print(nilai)
print(mahasiswa)

[90, 20, 30, 40, 75]
['Agus', 'Budi', 'Cici']

# Fungsi append(element) : untuk menambahkan item list

In [13]:
nilai.append(99)
mahasiswa.append("Doni")
print(nilai)
print(mahasiswa)

[90, 20, 30, 40, 75, 99]
['Agus', 'Budi', 'Cici', 'Doni']

In [7]:
mahasiswa+mahasiswa2

['Agus', 'Budi', 'Cici', 'Zaki', 'Yuli']

# Fungsi Extend : Menggabungkan dua list

In [14]:
mahasiswa.extend(mahasiswa2)
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Doni', 'Zaki', 'Yuli']

# Fungsi Insert : Menambahkan Item berdasarkan Index

In [26]:
mahasiswa.insert(9,"Indah")
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Doni', 'Zaki', 'Heri', 'Indah']

In [16]:
mahasiswa.insert(5,"Wangi")

In [17]:
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Eka', 'Doni', 'Wangi', 'Zaki', 'Yuli']

# Fungsi Pop : menghapus item list

In [18]:
mahasiswa.pop()
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Eka', 'Doni', 'Wangi', 'Zaki']

In [19]:
mahasiswa.pop(3)
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Doni', 'Wangi', 'Zaki']

In [20]:
mahasiswa.pop(4)
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Doni', 'Zaki']

# Mencari data di list / Searching item in list

In [29]:
target = "Heri"
if target in mahasiswa:
    print("Mahasiswa ditemukan")
    print(target + " Berada pada index", end=" ")
    print(mahasiswa.index(target))
else:
    print("mahasiswa tidak ditemukan")

Mahasiswa ditemukan
Heri Berada pada index 5

# Sorting List Items / Mengurutkan data

In [30]:
print(nilai)

[90, 20, 30, 40, 75, 99]

In [31]:
nilai.sort()
print(nilai)

[20, 30, 40, 75, 90, 99]

In [32]:
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Doni', 'Zaki', 'Heri', 'Indah']

In [33]:
mahasiswa.sort()
print(mahasiswa)

['Agus', 'Budi', 'Cici', 'Doni', 'Heri', 'Indah', 'Zaki']

# Mencari nilai Mean (Rata-rata), Modus, Median dari list

In [50]:
angka = [3,4,5,1,7,2]
print(angka)

[3, 4, 5, 1, 7, 2]

# # Mencari Nilai Rata-Rata

In [51]:
jumlah = 0
for i in range(0,len(angka)):
    jumlah = jumlah + angka[i]

mean = jumlah/len(angka)
print(mean)

3.6666666666666665

# Median

In [52]:
#jika jumlah data bernilai ganjil
index_tengah = (len(angka)-1)/2
angka.sort()
print(angka[int(index_tengah)])

3

In [56]:
#jika jumlah data bernilai ganjil
index_tengah = (len(angka)-1)/2
angka.sort()
median  = (angka[int(index_tengah)]+angka[int(index_tengah)+1])/2
print(median)

3.5

data = [5,3,7]

In [57]:
data = [5,3,7]

In [58]:
0 in data

False

In [60]:
data = data + [2, 10, 5]
print(data)

[5, 3, 7, 2, 10, 5]

# Fungsi Sederhana

In [66]:
def mahasiswa():
    print("Anggun")
    print("Kartika")
    print("Wangi")
    print(1+1)
    angka = 10
    hasil = angka/2
    print(hasil)

In [64]:
mahasiswa()

Anggun
Kartika
Wangi

In [67]:
mahasiswa()

Anggun
Kartika
Wangi
2
5.0

In [68]:
def tampilkan_mahasiswa(nama):
    print(nama)

In [69]:
tampilkan_mahasiswa("Jupri")

Jupri

In [71]:
def penjumlahan(nilai1, nilai2):
    hasil = nilai1+nilai2
    print(hasil)

In [72]:
penjumlahan(22,90)

112

In [74]:
from math import square
square(2)

ImportError: cannot import name 'square' from 'math' (unknown location)