In [13]:
mahasiswa1 = "Yudish"
print(mahasiswa1)
mahasiswa2 = ["Indri", "Anggun", "Kartika", "Eka","Silpie", "Istianah", "Lydia"] 
print(mahasiswa2)
usia = [17, 20, 25, 29, 33] # memiliki urutan di proggram disebut dengn index
print(usia)
jumlahMahasiswa = len(mahasiswa2)
print(jumlahMahasiswa)
status = [True, False, False, True, False]
print(status)
print(mahasiswa2[2])
print(usia[4])
print(usia[-1])
mahasiswa2[len(mahasiswa2)-1]

Yudish
['Indri', 'Anggun', 'Kartika', 'Eka', 'Silpie', 'Istianah', 'Lydia']
[17, 20, 25, 29, 33]
7
[True, False, False, True, False]
Kartika
33
33

'Lydia'

In [61]:
nim = ["03", "04", "05","06","07","08","09",
       "10", "11","12","13"]
nama = ["Indri", "Anggun", "Kartika", "Eka", "Sylpie", 
        "Istianah", "Lydia", "Jumahir", "Yudisthira", 
        "Multisa", "Doni"]
usia = [17, 20, 25,29,33,14,16,40,35,33,27]
status_perkawinan = [True, False, False, 
                    True, False, False,
                    True, False, False,
                    True, False]
tinggi = [160.6, 150.9, 165.3, 160.6, 150.9, 
          165.3, 160.6, 150.9, 165.3, 160.6, 
          150.9]

nama[3] = "Yulia"
nim.append("14")
usia.append(11)
status_perkawinan.append(False)
tinggi.append(130)



print(nama)

len(nama)

for i in range(0,len(nama)):
    print(i , end="\t")
    print(nim[i], end="\t")
    print(nama[i], end="\t")
    print(status_perkawinan[i], end="\t")
    print(tinggi[i])

['Indri', 'Anggun', 'Kartika', 'Yulia', 'Sylpie', 'Istianah', 'Lydia', 'Jumahir', 'Yudisthira', 'Multisa', 'Doni']
0	03	Indri	True	160.6
1	04	Anggun	False	150.9
2	05	Kartika	False	165.3
3	06	Yulia	True	160.6
4	07	Sylpie	False	150.9
5	08	Istianah	False	165.3
6	09	Lydia	True	160.6
7	10	Jumahir	False	150.9
8	11	Yudisthira	False	165.3
9	12	Multisa	True	160.6
10	13	Doni	False	150.9

In [62]:

for i in range(nama.index("Jumahir"),nama.index("Jumahir")+1):
    print(i , end="\t")
    print(nim[i], end="\t")
    print(nama[i], end="\t")
    print(status_perkawinan[i], end="\t")
    print(tinggi[i])

7	10	Jumahir	False	150.9

In [63]:
for i in range(nama.index("Kartika"),nama.index("Kartika")+1):
    print(i , end="\t")
    print(nim[i], end="\t")
    print(nama[i], end="\t")
    print(status_perkawinan[i], end="\t")
    print(tinggi[i])

2	05	Kartika	False	165.3

In [65]:
for i in range(usia.index(33),usia.index(33)+1):
    print(i , end="\t")
    print(nim[i], end="\t")
    print(nama[i], end="\t")
    print(status_perkawinan[i], end="\t")
    print(tinggi[i])

4	07	Sylpie	False	150.9

In [66]:
usia

[17, 20, 25, 29, 33, 14, 16, 40, 35, 33, 27, 11]

In [72]:
usia_urut = usia.sort(reverse=True)
print(usia_urut)

None